<mat-card appearance="outlined" class="container">
  <mat-card-content>
      <button mat-icon-button color="warn" class="delete" (click)="deleteTag()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button color="primary" class="delete" (click)="editMode = true">
      <mat-icon>edit</mat-icon>
    </button>
    <div *ngIf="!editMode">
      <h3 [ngClass]="'tag ' + 'color' + tag.color">{{tag.name}}</h3>
      <p class="description-container">
        <span class="description-title">Description: </span>
          {{tag.description}}
      </p>
    </div>
    <div *ngIf="editMode" class="margin-bottom">
      <app-tag-form
        [inputTag]="tag"
        (formData)="editTag($event)"
        (cancel)="editMode = false">
      </app-tag-form>
    </div>
    <app-redirect-links-list [links]="links" [color]="'dark'"></app-redirect-links-list>
  </mat-card-content>
</mat-card>
