.container{
  padding: var(--default-padding) var(--big-padding);
  .title-nav-container{
    align-items:flex-end;
    display: flex;
    justify-content: space-between;
    @media(max-width: 768px){
      flex-direction: column;
      align-items: center;
    }
    .title-wrapper{
      padding: var(--default-padding) 0;
      .subtitle{
        color: var(--main-color);
      }
    }
  }
}
