<div class="container">
  <mat-card appearance="outlined" *ngFor="let element of inputData">
    <mat-card-content>
      <ul class="tags-container">
        <li *ngFor="let tag of element.tagCombination"
            [ngClass]="'tag ' + 'color' + tag.color">
          {{ tag.name }}
        </li>
      </ul>
      <div class="expressions-wrapper">
        <p class="subtitle">Expressions:</p>
        <ul class="expressions-container">
          <li *ngFor="let expression of element.expressions">
            <a (click)="showExpression(expression)" matTooltip={{expression.reading}}>{{ expression.word }}</a>
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>
