<div class="container">
  <mat-card appearance="outlined" *ngFor="let element of inputData">
    <mat-card-content>
      <app-tags-list [tags]="element.tagCombination"></app-tags-list>
      <div class="expressions-wrapper">
        <p class="subtitle">Expressions:</p>
        <ul class="expressions-container">
          <li *ngFor="let expression of element.expressions">
            <a (click)="showExpression(expression)" matTooltip={{expression.reading}}>{{ expression.word }}</a>
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>
