<nav class="container">
  <div class="left-side-nav">
    <a class="button-wrapper" routerLink="/study/kanji-groups" routerLinkActive="active">Kanji groups</a>
    <a class="button-wrapper" routerLink="/study/search" routerLinkActive="active">Search in Subtitles</a>
  </div>
  <div class="right-side-nav">
    <a class="button-wrapper" routerLink="/study/review" routerLinkActive="active">Review</a>
    <a class="button-wrapper" routerLink="/study/upload" routerLinkActive="active">Upload</a>
    <a class="button-wrapper" routerLink="/study/manage" routerLinkActive="active">Manage</a>
  </div>
</nav>