form{
  .input-name, .input-description{
    width: 100%;
  }
  .form-button-container{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .color-buttons-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    .color-button{
      background: none;
      color: inherit;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      height: 30px;
      width: 30px;
      background-color: var(--tag1);
      border-radius: 50%;
    }
    .focused{
      border: 1.5px solid var(--main-color);
    }
    .unfocused{
      border: 1.5px solid rgb(171, 171, 171);
    }
    .color-1{
      background-color: var(--tag1);
    }
    .color-2{
      background-color: var(--tag2);
    }
    .color-3{
      background-color: var(--tag3);
    }
    .color-4{
      background-color: var(--tag4);
    }
    .color-5{
      background-color: var(--tag5);
    }
  }

}
