<form [formGroup]="tagForm">
  <mat-form-field class="input-name">
    <mat-label>Label</mat-label>
    <input matInput formControlName="name" autofocus>
  </mat-form-field>
  <mat-form-field class="input-description">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" autofocus>
  </mat-form-field>
  <div class="form-button-container">
    <button mat-stroked-button color="primary" (click)="reset()">
      {{resetText}}
    </button>
    <button mat-raised-button color="primary" (click)="submit()">
      {{submitText}}
    </button>
  </div>
</form>
