<mat-card class="container">
  <div class="header">
    <div class="kanji">
      <h4>{{cardData.kanji.kanji}}</h4>
    </div>
    <div class="kanji-detail">
      <span class="meanings">{{cardData.kanji.meanings | arrayToString | firstTitlecase}}</span>
      <div class="readings-container">
        <ul class="readings-list">
          <li *ngFor="let kun_reading of cardData.kanji.kun_readings">{{kun_reading}}</li>
        </ul>
        <ul class="readings-list">
          <li *ngFor="let on_reading of cardData.kanji.on_readings">{{on_reading}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="extra-data-container">
    <h5 class="subtitle">Expressions with this kanji:</h5>
    <ul>
      <li *ngFor="let expression of cardData.expressions">
        <a (click)="outputExpression(expression)">
          {{expression.word}}
        </a>
      </li>
    </ul>
    <div class="external-links">
      <a href={{kanjiDetailsLink}} target="_blank">
        More kanji details</a>
      <a href={{wordsContainingKanjiLink}} target="_blank">
        Words containing this kanji</a>
    </div>
  </div>
</mat-card>
