.container{
  .header{
    display: flex;
    .kanji{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px 32px 16px 16px;
      h4{
        font-size: 50px;
        margin: 0;
        line-height: 50px;
      }
    }
    .kanji-detail{
      .readings-container{
        color: grey;
        .readings-list{
          li{
            display: inline;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .extra-data-container{
    margin: 10px 0;
    .subtitle{
      font-size: 14px;
      margin: 0;
      font-weight: 500;
    }
    li{
      font-size: 18px;
      a{
        color: var(--main-color);
        text-decoration: underline;
      }
    }
    .external-links{
      margin-top: 15px;
      a{
        display: block;
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
}
