.container{
  display: flex;
  .kanji-container{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    .kanji{
      font-size: 50px;
      margin: 0;
    }
  }
  .content{
    .readings-container{
      color: grey;
      .readings-list{
        li{
          display: inline;
          margin-right: 10px;
        }
      }
    }
    .extra-data-container{
      margin: 10px 0;
      .subtitle{
        font-size: 14px;
        margin: 0;
      }
      li{
        font-size: 18px;
        a{
          color: var(--main-color);
          text-decoration: underline;
        }
      }
    }
  }
}
