.review-completed-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .content-wrapper{
    border: 2px solid green;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    background-color: rgb(236, 243, 236);
    .check-icon{
      color: green;
      font-size: 40px !important;
      width: 40px;
      height: 40px;
    }
    p{
      padding-top: 30px;
      font-size: 20px;
      color: green;
    }
  }
}
