.container{
  .title{
    text-align: left !important;
    @media(max-width: 950px) {
      text-align: center !important;
    }
  }
  .filter-container{
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: left;
    margin-bottom: 16px;
    flex-wrap: wrap;
    @media(max-width: 950px) {
      justify-content: center;
    }
    div{
      display: flex;
      gap: 16px;
    }
  }
  .lesson-card-container{
    margin-bottom: 16px;
  }
}
