<mat-card class="source-form-container">
  <h2>Add source to lesson</h2>
  <form [formGroup]="sourceForm" class="form-container">
    <app-lessons-select formControlName="lessonId" class="select lesson"></app-lessons-select>
    <div class="lesson-sources-container" *ngIf="currentLesson.topic">
      <p class="lesson-sources-title">Lesson sources:</p>
      <ul *ngIf="currentLesson.sources.length > 0" class="bullet-list">
        <li *ngFor="let source of currentLesson.sources" class="lesson-source">
          {{ source.name }}
        </li>
      </ul>
      <p *ngIf="currentLesson.sources.length === 0">
        This lesson has no sources
      </p>
    </div>
    <mat-form-field class="input-name">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" autofocus>
    </mat-form-field>
    <mat-form-field class="input-link">
      <mat-label>Link</mat-label>
      <input matInput formControlName="link" autofocus>
    </mat-form-field>
    <div class="form-button-container">
      <button mat-raised-button color="primary" (click)="addSource()">Add source</button>
    </div>
  </form>
</mat-card>
