.source-form-container{
  margin-top: 16px;
  width: 700px;
  @media(max-width: 950px) {
    width: auto;
  }
  .form-container{
    mat-form-field{
      width: 100%;
    }
    .lesson-sources-container{
      margin-bottom: 8px;
      .lesson-sources-title{
        color: grey;
      }
    }
  }
  .form-button-container{
    margin-top: 16px;
    text-align: center;
  }
}
