.container{
  .title{
    text-align: left !important;
    @media(max-width: 950px) {
      text-align: center !important;
    }
  }
  .tags-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    @media(max-width: 700px) {
      flex-direction: column;
    }
    .tag-card{
      width: 40%;
      flex-grow: 1;
      @media(max-width: 700px) {
        width: 100%;
      }
    }
  }
}

