.changelog{
    background-color: var(--background-one);
    .changelog-item{
        margin-top: 20px;
        line-height: 25px;
        .date{
            color: grey;
            font-size: var(--font-small)
        }
        .item-title-container{
            display: flex;
            align-items: center;
            .item-type{
                background-color: var(--tag1);
                border-radius: 4px;
                padding: 4px;
                margin-right: 10px;
                font-family: 'Courier New', Courier, monospace;
            }
            .item-title{
                font-size: var(--font-medium);
                font-weight: 500;
            }
        }
        .item-link{
            text-decoration: underline;
            margin-right: 16px;
        }
    }
}