<mat-card appearance="outlined" class="container">
  <mat-card-content>
    <div class="header">
      <div class="kanji">
        <h4>{{cardData.kanji.kanji}}</h4>
      </div>
      <div class="kanji-detail">
        <span class="meanings">{{cardData.kanji.meanings | arrayToString | firstTitlecase}}</span>
        <div class="readings-container">
          <ul class="readings-list">
            <li *ngFor="let kun_reading of cardData.kanji.kun_readings">{{kun_reading}}</li>
          </ul>
          <ul class="readings-list">
            <li *ngFor="let on_reading of cardData.kanji.on_readings">{{on_reading}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="extra-data-container">
      <h5 class="subtitle">Expressions with this kanji:</h5>
      <ul>
        <li *ngFor="let expression of cardData.expressions">
          <a (click)="outputExpression(expression)" matTooltip={{expression.reading}}>
            {{expression.word}}
          </a>
        </li>
      </ul>
    </div>
    <div class="details-container">
      <app-editable-input-property 
        *ngIf="cardData.notes && !showNotesInput"
        [label]="'Notes'"
        [text]="cardData.notes"
        (emit)="showNotesInput = true">
      </app-editable-input-property>
      <div 
        *ngIf="!cardData.notes && !showNotesInput" 
        class="add-input">
        <p (click)="showNotesInput = true">Add notes</p>
      </div>
      <app-edit-input
        *ngIf="showNotesInput"
        [label]="'Notes'"
        [type]="'textarea'"
        [currentValue]="cardData.notes"
        (updatedValue)="updateNote($event)">
      </app-edit-input>
    </div>
    <app-redirect-links-list [links]="externalLinks"></app-redirect-links-list>
  </mat-card-content>
  
</mat-card>
