.mat-table{
  border-radius: 4px;
  overflow: hidden !important;
}

.table{
  width: 100%;
  border-radius: 4px;
}

.mat-header-cell{
  font-size: 16px;
  padding: 0 5px;
}

.mat-cell{
  font-size: 20px;
  padding: 0 5px;
}
