.mat-table{
  border-radius: 4px;
  overflow: hidden !important;
}

.table{
  width: 100%;
  border-radius: 4px;
}

.mat-header-cell{
  font-size: 16px;
  padding: 0 10px;
  white-space: nowrap;
  background-color: rgb(242, 242, 242);
}

.mat-cell{
  font-size: 20px;
  padding: 0 10px;
}

.cdk-column-expression{
  white-space: nowrap;
}

.cdk-column-reading{
  font-size: 16px;
  white-space: nowrap;
}

.cdk-column-english-meaning, .cdk-column-expressions, .cdk-column-kun-readings, .cdk-column-on-readings{
  font-size: 16px;
}

.cdk-column-no-{
  color: grey;
  font-size: 16px;
  background-color: rgb(242, 242, 242);
}
