<div class="container">
  <div class="header">
    <h2 class="title">Kanji</h2>
    <!--EXPANSION PANEL-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false"
                          [expanded]="panelOpenState" class="form-card">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filter uploaded kanji
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!--FORM-->
      <form class="form-container" [formGroup]="searchForm" (submit)="search()">
        <div class="input-selects-container">
          <mat-form-field appearance="outline" class="kanji-input">
            <mat-label>Input one or more kanji separated by commas</mat-label>
            <input formControlName="kanjiList" matInput name="kanji" autofocus>
          </mat-form-field>
          <div class="selects-container">
            <app-lessons-select formControlName="lesson" class="select lesson"></app-lessons-select>
            <div class="small-selects-container">
              <app-jlpt-select formControlName="jlpt" class="select jlpt"></app-jlpt-select>
              <app-difficulty-select formControlName="difficulty" class="select difficulty"></app-difficulty-select>
            </div>
          </div>
        </div>
        <app-tags-select formControlName="tags"></app-tags-select>
        <div class="form-button-container">
          <button mat-raised-button color="primary">Search</button>
        </div>
      </form>
    </mat-expansion-panel>
  </div>
  <!--CARDS AND TABLE-->
  <mat-card appearance="outlined" *ngIf="userKanjiList.length > 0" class="response-container">
    <mat-card-content>
      <mat-tab-group dynamicHeight mat-stretch-tabs="true">
        <mat-tab label="List">
          <div class="review-button-container">
            <a (click)="review('reading')">Review the reading of these kanji</a> 
            <a (click)="review('writing')">Review the writing of these kanji</a> 
          </div>
          <div class="cards-container">
            <app-user-kanji-card-editable *ngFor="let data of cardsUserKanjiList" class="card"
              [cardData]="data" (expressionToOutput)="showExpression($event)"></app-user-kanji-card-editable>
          </div>
          <div class="button-container">
            <button mat-raised-button color="primary" (click)="showMoreCards()"
                    *ngIf="cardsUserKanjiList.length < userKanjiList.length">
              Show more
            </button>
          </div>
        </mat-tab>
        <mat-tab label="Table">
          <app-table [tableData]="tableData"></app-table>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    
  </mat-card>
  <p *ngIf="fetchedDataState === 'no data'">
    No kanji found
  </p>
</div>
