<div class="container">
  <div class="header">
    <h2>Kanji</h2>
    <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false"
                          [expanded]="panelOpenState" class="form-card">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filter kanji
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form class="form-container" [formGroup]="searchForm" (submit)="search()">
        <mat-form-field appearance="outline">
          <mat-label>Input one or more kanji separated by commas</mat-label>
          <input formControlName="search" matInput name="kanji" autofocus>
        </mat-form-field>
        <button mat-raised-button color="primary">Search</button>
      </form>
    </mat-expansion-panel>
    <nav *ngIf="userKanji.length > 0">
      <button mat-raised-button color="accent" (click)="showCards()" [disabled]="areCardsShown">See cards</button>
      <button mat-raised-button color="accent" (click)="showTable()" [disabled]="!areCardsShown">See table</button>
    </nav>
  </div>
  <div *ngIf="userKanji.length > 0">
    <div *ngIf="areCardsShown" class="cards-container">
      <app-user-kanji-card *ngFor="let data of userKanji" class="card"
        [cardData]="data" (expressionToOutput)="showExpression($event)"></app-user-kanji-card>
    </div>
    <div *ngIf="!areCardsShown">
      <app-table [columnTitles]="columnTitles" [dataToDisplay]="userKanji"></app-table>
    </div>
  </div>
</div>
