.container{
  background-color: var(--background-three);
  @media(max-width: 700px) {
    margin: 0 0;
  }
  nav{
    margin-bottom: 15px;
  }
  a{
    color: var(--main-color);
    text-decoration: underline;
    margin-right: 15px;
  }
  .cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch; // <-- stretch vertical (default value, can be omitted here)
    align-content: center;
    flex-wrap: wrap;
    gap: 15px;
    @media(max-width: 700px) {
      flex-direction: column;
    }
    .card{
      width: 40%;
      flex-grow: 1;
      @media(max-width: 700px) {
        width: 100%;
      }
    }
  }
}
