.container{
  background-color: var(--background-three);
  @media(max-width: 700px) {
    margin: 0 0;
  }
  .header{
    padding-bottom: var(--default-padding);
    text-align: center;
    h2{
      font-size: var(--font-medium-big);
    }
    .form-card{
      margin: var(--default-margin) 0;
      .form-container{
        display: flex;
        gap: var(--default-padding);
        align-items: baseline;
        mat-form-field{
          width: 400px;
        }
      }
    }
    nav{
      button{
        margin: var(--small-margin);
      }
    }
  }
  .cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    @media(max-width: 700px) {
      flex-direction: column;
    }
    .card{
      width: 40%;
      flex-grow: 1;
      @media(max-width: 700px) {
        width: 100%;
      }
    }
  }
}
