<div class="container">
  <div class="header">
    <h2>Kanji</h2>
    <!--EXPANSION PANEL-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false"
                          [expanded]="panelOpenState" class="form-card">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filter uploaded kanji
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!--FORM-->
      <form class="form-container" [formGroup]="searchForm" (submit)="search()">
        <div class="input-selects-container">
          <mat-form-field appearance="outline">
            <mat-label>Input one or more kanji separated by commas</mat-label>
            <input formControlName="kanjiList" matInput name="kanji" autofocus>
          </mat-form-field>
          <div class="selects-container">
            <app-jlpt-select formControlName="jlpt" class="select jlpt"></app-jlpt-select>
            <app-lessons-select formControlName="lesson" class="select"></app-lessons-select>
          </div>
        </div>
        <app-tags-select formControlName="tags"></app-tags-select>
        <div class="form-button-container">
          <button mat-raised-button color="primary">Search</button>
        </div>
      </form>
    </mat-expansion-panel>
    <!--NAV BUTTONS-->
    <nav *ngIf="userKanjiList.length > 0">
      <button mat-raised-button color="accent" (click)="areCardsShown = true" [disabled]="areCardsShown">
        See cards
      </button>
      <button mat-raised-button color="accent" (click)="areCardsShown = false" [disabled]="!areCardsShown">
        See table
      </button>
      <button mat-raised-button color="accent" (click)="showFilterUrl = !showFilterUrl" [disabled]="!(filterUrl.length > 0)">
        Get filter url
      </button>
    </nav>
    <p *ngIf="showFilterUrl">{{filterUrl}}</p>
  </div>
  <!--CARDS AND TABLE-->
  <div *ngIf="userKanjiList.length > 0">
    <div *ngIf="areCardsShown" class="cards-container">
      <app-user-kanji-card *ngFor="let data of userKanjiList" class="card"
        [cardData]="data" (expressionToOutput)="showExpression($event)"></app-user-kanji-card>
    </div>
    <div *ngIf="!areCardsShown">
      <app-table [columnTitles]="columnTitles" [dataToDisplay]="tableUserKanji"></app-table>
    </div>
  </div>
</div>
