.form-selects-container{
  display: flex;
  flex-direction: row;
  @media(max-width: 950px) {
    flex-direction: column;
  }
  .selects-container{
    width: 50%;
    display: flex;
    gap: var(--default-margin);
    @media(max-width: 950px) {
      width: 100%;
    }
    .select{
      width: 100%;
      &.jlpt{
        width: 100px;
      }
    }
  }
}

.response-container{
  .cards-container{
    margin-top: 10px;
  }
  .button-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
