<div class="container">
  <div class="header">
    <h2 class="title">Expressions</h2>
    <!--EXPANSION PANEL-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false"
                          [expanded]="panelOpenState" class="form-card">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filter uploaded expressions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!--FORM-->
      <form class="form-container" [formGroup]="searchForm" (submit)="search()">
        <div class="input-selects-container">
          <div class="inputs-container">
            <mat-form-field appearance="outline" class="expression-input">
              <mat-label>Input one or more expressions separated by commas</mat-label>
              <input formControlName="searchList" matInput name="searchList" autofocus>
            </mat-form-field>
            <mat-form-field appearance="outline" class="reading-input">
              <mat-label>Reading</mat-label>
              <input formControlName="reading" matInput name="reading">
            </mat-form-field>
          </div>
          <div class="selects-container">
            <app-lessons-select formControlName="lesson" class="select lesson"></app-lessons-select>
            <div class="small-selects-container">
              <app-jlpt-select formControlName="jlpt" class="select jlpt"></app-jlpt-select>
              <app-difficulty-select formControlName="difficulty" class="select difficulty"></app-difficulty-select>
            </div>
          </div>
        </div>
        <app-tags-select formControlName="tags"></app-tags-select>
        <div class="form-button-container">
          <button mat-raised-button color="primary">Search</button>
        </div>
      </form>
    </mat-expansion-panel>
  </div>
  <!--RESPONSE-->
  <mat-card appearance="outlined" *ngIf="filteredExpressions.length > 0" class="response-container">
    <mat-card-content>
      <mat-tab-group dynamicHeight mat-stretch-tabs="true" mat-align-tabs="start">
        <mat-tab label="List">
          <div class="review-button-container">
            <a (click)="review('reading')">Review the reading of these expressions</a> 
            <a (click)="review('writing')">Review the writing of these expressions</a> 
          </div>
          <div class="cards-container">
            <app-expression-card-editable
              *ngFor="let expression of cardsFilteredExpressions"
              [expression]="expression"
              class="card">
            </app-expression-card-editable>
          </div>
          <div class="button-container">
            <button mat-raised-button color="primary" (click)="showMoreCards()"
                    *ngIf="cardsFilteredExpressions.length < filteredExpressions.length">
              Show more
            </button>
          </div>
        </mat-tab>
        <mat-tab label="Table">
          <app-table
            [tableData]="tableData">
          </app-table>
        </mat-tab>
        <mat-tab label="Grouped by tags">
          <app-group-by-tags [data]="tagCombinations"></app-group-by-tags>
        </mat-tab>
        <mat-tab label="Grouped by difficulty">
          <app-group-by-difficulty [data]="expressionsByDifficulty"></app-group-by-difficulty>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
  <p *ngIf="fetchedDataState === 'no data'" class="response-container">
    No expressions found
  </p>
</div>
