.form-selects-container{
  display: flex;
  justify-content: space-between;
  gap: 16px;
  @media(max-width: 700px) {
    flex-direction: column;
  }
  .jlpt{
    width: 30%;
    @media(max-width: 700px) {
      width: 100%;
    }
  }
  .lesson{
    width: 100%;
  }
}

.response-container{
  .cards-container{
    margin-top: 10px;
  }
}
