<div class="container">
  <div class="header">
    <h2>Expressions</h2>
    <!--EXPANSION PANEL-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false"
                          [expanded]="panelOpenState" class="form-card">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filter uploaded expressions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!--FORM-->
      <form class="form-container" [formGroup]="searchForm" (submit)="search()">
        <div class="form-selects-container">
          <mat-form-field appearance="outline">
            <mat-label>Input one or more expressions separated by commas</mat-label>
            <input formControlName="searchList" matInput name="searchList" autofocus>
          </mat-form-field>
          <div class="selects-container">
            <app-jlpt-select formControlName="jlpt" class="select jlpt"></app-jlpt-select>
            <app-lessons-select formControlName="lesson" class="select lesson"></app-lessons-select>
          </div>
        </div>
        <app-tags-select formControlName="tags"></app-tags-select>
        <div class="form-button-container">
          <button mat-raised-button color="primary">Search</button>
        </div>
      </form>
    </mat-expansion-panel>
  </div>
  <!--RESPONSE-->
  <mat-card *ngIf="filteredExpressions.length > 0" class="response-container">
    <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start">
      <mat-tab label="List">
        <div class="cards-container">
          <app-expression-card
            *ngFor="let expression of filteredExpressions"
            [expression]="expression"
            class="card">
          </app-expression-card>
        </div>
      </mat-tab>
      <mat-tab label="Table">
        <app-table
          [tableData]="tableData">
        </app-table>
      </mat-tab>
      <mat-tab label="Grouped by tags">
        <app-group-by-tags [data]="tagCombinations"></app-group-by-tags>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
