<div class="container">
    <mat-form-field class="input">
        <mat-label>{{customLabel}}</mat-label>
        <textarea matInput
          [(ngModel)]="data"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows={{min}}
          cdkAutosizeMaxRows={{max}}>
        </textarea>
    </mat-form-field>
    <div mat-dialog-actions class="form-buttons-container-center">
        <button mat-stroked-button color="primary" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="confirm()">Update</button>
    </div>
</div>