<div class="card back">
  <app-expression-card-readonly *ngIf="type === 'expression'" [expression]="expressionData"></app-expression-card-readonly>
  <app-user-kanji-card-readonly *ngIf="type === 'user-kanji'" [userKanji]="kanjiData"></app-user-kanji-card-readonly>
  <!-- DIFFICULTY -->
  <div class="difficulty-section">
    <div class="difficulty-details">
      <p>Difficulty: <span class="color-text">{{ cardData.difficulty | difficulty }}</span></p>
    </div>
    <app-difficulty-buttons [difficulty]="cardData.difficulty"
                            (updatedDifficulty)="updateDifficulty($event)"></app-difficulty-buttons>
  </div>
</div>
