.upload-tag-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media(max-width: 950px) {
    display: block;
  }
  .tag-form-container{
    width: 700px;
    @media(max-width: 950px) {
      width: auto;
    }
  }
}
