.container{
  min-height: 150px;
  p.text{
    margin: 0;
  }
  .card-title{
    float: left;
    padding: 20px 16px 20px 0;
    h3{
      font-size: 40px;
      font-weight: bold;
      margin: 10px;
    }
    p{
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
  .subtitle{
    margin: 0;
    color: grey;
  }
}
