.container{
  min-height: 100px;
  p.text{
    margin: 0;
  }
  .card-title{
    float: left;
    padding: 20px 16px 20px 0;
    h3{
      font-size: 40px;
      margin: 10px;
    }
    p{
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
  .subtitle{
    margin: 0;
    color: grey;
  }
  .bullet{
    color: var(--main-color);
    padding-right: 5px;
  }
  .external-links{
    margin-top: 15px;
    .definition-links{
      display: flex;
      gap: 16px;
    }
    a{
      display: block;
      font-size: 12px;
      font-weight: normal;
    }
  }
}
