.container{
  min-height: 100px;
  background-color: rgb(245, 245, 245);
  p.text{
    margin: 0;
  }
  .header{
    display: flex;
    .card-title{
      padding: 10px 16px 20px 0;
      width: 50%;
      h3{
        font-size: 30px;
        margin: 0 0 10px 0;
      }
      p{
        margin: 0;
        padding: 0;
      }
    }
    .example-sentences{
      width: 50%;
    }
  }
  .subtitle{
    margin: 0;
    color: grey;
    font-size: 14px;
  }
  .details-container{
    margin-bottom: 10px;
    .editable-section{
      display: flex;
      align-items: center;
      button{
        margin-left: 16px;
      }
    }
  }
  .details-container-tags{
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.add-input{
  p {
    color: var(--main-color);
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
  }
}
