.container{
  min-height: 100px;
  background-color: rgb(245, 245, 245);
  p.text{
    margin: 0;
  }
  .header{
    display: flex;
    .card-title{
      padding: 10px 16px 20px 0;
      h3{
        font-size: 40px;
        margin: 10px;
        white-space: nowrap;
      }
      p{
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }
  }
  .subtitle{
    margin: 0;
    color: grey;
    font-size: 14px;
  }
  .details-container{
    margin-bottom: 10px;
  }
  .details-container-tags{
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
